build
cloudformation.yml
dist
/app/.env
/app/cloudformation.yml
app/build
app/dist
node_modules
.env
/deployer/cloudformation.yml
terraform.tf
terraform.tfvars
.terraform*
env.sh
.idea
.nyc_output
sandbox.sh
test_reports/*
*/out/*
ghrc-tf/tasks/docker_tasks/amsu-a
jwtkeys.json
.snyk

sit_env.sh
ghrc-tf/tasks/.DS_Store
.DS_Store
*_env.sh
__pycache__
out
!ghrc-tf/tasks/processing_tasks/dynamic-change-event/out/.gitdirectory
